.bento-card {
    position: relative;
    width: 100%;
    height: 100%;

    &__video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.25rem;

        --tw-text-opacity: 1;
        color: rgb(223 223 240 / var(--tw-text-opacity)) /* white */;

        //Overlay
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.4);
        }

        &__inside  {
            position: relative;
            z-index: 1;
        }

        &__desc {
            margin-top: 0.75rem;
            max-width: 20rem;
            font-size: 0.75rem;
            line-height: 1rem;

            @media (min-width: 768px) {
                font-size: 1rem /* 16px */;
                line-height: 1.5rem /* 24px */;
            }
        }

        &__btn {
            position: relative;
            z-index: 1;
            display: flex;
            width: fit-content;
            cursor: pointer;
            align-items: center;
            gap: 0.25rem;
            overflow: hidden;
            border-radius: 9999px;

            --tw-bg-opacity: 1;
            background-color: rgb(0 0 0 / var(--tw-bg-opacity)) /* #000000 */;

            padding: 0.5rem 1.25rem;
            font-size: 0.75rem;
            line-height: 1rem;
            text-transform: uppercase;
            color: rgb(255 255 255 / 0.2);

            &__effect {
                pointer-events: none;
                position: absolute;
                inset: -1px;
                opacity: 0;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 300ms;
            }

            &__icon {
                position: relative;
                z-index: 20;
            }

            &__text {
                position: relative;
                z-index: 20;
            }
        }
    }
}