@import "@/variables";

.give {

    &-header {
        &-container {
            max-width: $max-screen;
            margin: 0 auto;
        }
        
        &__title {
            display: block;
            position: relative;
            color: white;
            font-family: "front-page-neue", sans-serif;
            font-size: 25vw;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            line-height: 1;
            letter-spacing: 40px;
            background-image: url("https://dq5pwpg1q8ru0.cloudfront.net/2022/06/30/17/50/23/a0959b4a-e268-43b3-ab03-97ca0be98537/lina-trochez-377674-unsplash.jpg");
            background-size: cover;
            background-position: center;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            margin: 0;
            padding: 10rem 0;
        }
    }

    &-scrolly {
        &-container {
            position: relative;
            padding-bottom: 1px;
        }

        &-note {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 1;
            position: relative;
            width: 800px;
            max-width: calc(100% - 1rem);
            margin: 0 auto 90vh;

            p { 
                color: white;
                font-size: 2rem;

                padding: 2rem;
                margin: 0;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 8px;
            }
        }
    }
}