@use "@/variables" as *;

.give {
    &-scrolly {
        &-container {
            position: relative;
            padding-bottom: 1px;
        }

        &-note {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 1;
            position: relative;
            width: 800px;
            max-width: calc(100% - 1rem);
            margin: 0 auto 90vh;
            padding: 0 1rem;

            p { 
                color: white;
                font-size: 2rem;

                padding: 2rem;
                margin: 0;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 8px;

                @media (max-width: 800px) {
                    font-size: 1.5rem;
                }

                @media (max-width: 600px) {
                    font-size: 1.2rem;
                    padding: 1rem;
                }
            }
        }
    }
}