.text-reveal {
    display: flex;
    color: white;
    font-size: 2rem;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }

    p {
        margin-bottom: 8rem;
        max-width: 70%;

        @media (max-width: 768px) {
            max-width: 100%;
            margin-bottom: 5rem;
        }
    }

    span {
        opacity: 0.2;
    }
}